<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    executionOrder="depends,defects"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
    colors="true"
    cacheDirectory="tests/logs/.phpunit.cache"
    displayDetailsOnTestsThatTriggerWarnings="true"
    beStrictAboutCoverageMetadata="true">
  <testsuites>
    <testsuite name="default">
      <directory suffix="Test.php">tests/Unit</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">lib</directory>
    </include>
  </source>
</phpunit>
